# Exploratory Data Analysis

This notebook examines the raw data extracted by tagging the training/validation demo files.

In [1]:
import pandas as pd

In [3]:
train_df = pd.read_csv('./train.csv')
val_df = pd.read_csv('./val.csv')

## Raw Data Summaries

### Training Set

In [7]:
display(train_df.describe())

,roundWinner,aliveCt,aliveT,meanHealthCt,meanHealthT,meanValueCT,meanValueT,roundTime,bombTime,bombDefused
count,668270.00000,668270.000000,668270.000000,668270.000000,668270.000000,668270.000000,668270.000000,668270.000000,668270.000000,668270.000000
mean,0.49161,3.965671,3.800989,88.830806,83.148263,4715.262612,4188.812227,47.590621,2.140886,0.001601
std,0.49993,1.244596,1.353213,16.494673,21.291109,1943.641399,1663.035402,31.989371,6.815114,0.039982
min,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.00000,3.000000,3.000000,83.000000,75.000000,3866.666667,3725.000000,19.585938,0.000000,0.000000
50%,0.00000,4.000000,4.000000,95.750000,90.250000,5500.000000,4840.000000,42.734375,0.000000,0.000000
75%,1.00000,5.000000,5.000000,100.000000,100.000000,6160.000000,5330.000000,71.976562,0.000000,0.000000
max,1.00000,5.000000,5.000000,100.000000,100.000000,8250.000000,7750.000000,203.851562,63.460938,1.000000

### Validation Set

In [6]:
display(val_df.describe())

,roundWinner,aliveCt,aliveT,meanHealthCt,meanHealthT,meanValueCT,meanValueT,roundTime,bombTime,bombDefused
count,167068.000000,167068.000000,167068.000000,167068.000000,167068.000000,167068.000000,167068.000000,167068.000000,167068.000000,167068.000000
mean,0.490004,3.965499,3.798579,88.794276,83.095772,4711.547813,4193.602201,47.653655,2.145332,0.001724
std,0.499902,1.246747,1.351868,16.511832,21.315241,1941.708923,1659.285089,31.996082,6.813189,0.041484
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,3.000000,3.000000,83.000000,75.000000,3850.000000,3740.000000,19.656250,0.000000,0.000000
50%,0.000000,4.000000,4.000000,95.600000,90.200000,5490.000000,4850.000000,42.945312,0.000000,0.000000
75%,1.000000,5.000000,5.000000,100.000000,100.000000,6150.000000,5330.000000,71.906250,0.000000,0.000000
max,1.000000,5.000000,5.000000,100.000000,100.000000,8250.000000,7750.000000,166.484375,63.281250,1.000000